* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #d5e1ef;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 1rem;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 1.5rem;
    max-width: 500px;
    width: 20vw;
    min-width: 250px;
    text-align: center;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 1.2rem;
}

.card h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #1f3251;
  margin-bottom: 0.75rem;
}

.card p {
  font-size: 0.9rem;
  color: #7b879d;
  line-height: 1.4;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
  color: #888;
}

.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media (max-width: 600px) {
  .card {
    width: 90vw;
    min-width: unset;
    max-width: 95vw;
  }
}